*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    font-family: "Arial", sans-serif;
    background-color: silver;
}

nav{
    display: flex;
    width: 100vw;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    padding: 20px;
    gap: 20px;
    position: fixed;
    top: 0px;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: red; */
}

.logo img{
    width: auto;
    height: 50px;
}

.logo p{
    font-size: 26px;
    font-family: "Arial", sans-serif;
    font-weight: 700;

    span{
        color: greenyellow;
    }
}

.navSection2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
    /* background-color: #ADFF2F; */
    gap: 20px;
}

.userInfo {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 120px;
    /* background-color: green; */
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border: none;
    width: 100%;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-family: Arial;
}

.login:hover{opacity: 0.92; background-color: #ABFF2F;}

.menu{
    display: flex;
    /* background-color: blue; */
    height: 40px;
    justify-content: center;
    align-items: center;
}

.menuDropdown{
    display: none;
    flex-direction: column;
    height: max-content;
    width: 250px;
    background-color: #fff;
    position: absolute;
    right: 22px;
    top: 70px;
    border-radius: 5px;
    overflow: hidden;

}

.active{
    display: flex;
}

.menuDropdown a {
    color: #000;
    padding: 12px;
    text-decoration: none;
    border-bottom: 1px solid #555;
    display: flex;
    align-items: center;
    gap: 8px;
}

#log-out{
    border: none;
    color: #fff;
    font-weight: 600;
}

.logout{
    display: flex;
    margin: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #555;
    justify-content: center;
}

.logout:hover{
    background: rgb(230, 60, 60);
}

.menuDropdown .quickLink:hover {
    background: #555;
    color: #fff;
}